In [39]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
from nltk.tokenize import sent_tokenize, word_tokenize, regexp_tokenize
import nltk
import re
import numpy as np
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.metrics.pairwise import cosine_similarity
from collections import Counter

In [22]:
complaints = pd.read_csv('complaints.csv')

In [23]:
complaints.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353432 entries, 0 to 353431
Data columns (total 2 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Consumer complaint narrative  353432 non-null  object
 1   Issue                         353432 non-null  object
dtypes: object(2)
memory usage: 5.4+ MB

In [25]:
complaints[['Consumer complaint narrative', 'Issue']] = complaints[['Consumer complaint narrative', 'Issue']].astype('str')

In [26]:
complaints.groupby('Issue').count().sort_values('Consumer complaint narrative', ascending = False)

                                      Consumer complaint narrative
Issue
Incorrect information on your report                        229305
Attempts to collect debt not owed                            73163
Communication tactics                                        21243
Struggling to pay mortgage                                   17374
Fraud or scam                                                12347

In [27]:
# Define a regular expression pattern to match capitalized words
pattern = r'\b[A-Z][a-z]*\b'

# Define a function to count the number of capitalized words in a string
def count_capitalized_words(string):
    return len(re.findall(pattern, string))

# Apply the function to the 'strings' column
complaints['num_capitalized_words'] = complaints['Consumer complaint narrative'].apply(count_capitalized_words)

# Output the result
print(complaints['num_capitalized_words'])

0          14
1          36
2           5
3          96
4           5
         ...
353427      2
353428     83
353429     73
353430    125
353431      1
Name: num_capitalized_words, Length: 353432, dtype: int64

In [35]:
Capital_Counts_by_Issue = pd.DataFrame(complaints.groupby('Issue')['num_capitalized_words'].sum())

In [38]:
complaints['total_words'] = complaints.agg(
)

                                      num_capitalized_words
Issue
Attempts to collect debt not owed                   1331140
Communication tactics                                285371
Fraud or scam                                        298690
Incorrect information on your report                3936388
Struggling to pay mortgage                           584395

In [ ]:
# Define a function to tokenize a string
def tokenize_string(string):
    return nltk.word_tokenize(string)

# Apply the function to the 'strings' column
complaints['complaint_tokens'] = complaints['Consumer complaint narrative'].apply(tokenize_string)

# Output the result
print(complaints['complaint_tokens'])